<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>
      <add key="FirstKey" value="None"/>
      <add key="SecondKey" value="None"/>
      <add key="ThirdKey" value="F2"/>
      <add key="Source" value="English"/>
      <add key="Result" value="Polish"/>
    </appSettings>
</configuration>
